$background : #ffffff;;
$button:  #0091d1;
$borderRadius: 5px;
$font :'Helvetica Neue';
@mixin left() {
    float: left;
}
@mixin center(){
    text-align:center;
}
@mixin button(){
    font-size:16px;
    vertical-align: middle;
    font-family:$font;
    color:white;
    border-style: solid;
    border-color: $button;
    background-color: $button;
    border-radius: 5px;
}
button{
    @include left();
   padding:10px 46px;
   width: 100%;
   @include button();
}
select{
    //background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
    margin-top: 5px;
    height: 29px; 
    text-align-last:center;
    //overflow: hidden;
    width: 240px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    @include button();
    
}
select:focus {outline: none; }
body{
    font-family: $font; 
}
.createPassword{
    margin-bottom: 0px;
}
label{
    @include left();
}
button{
     @include left();
    border-radius: 7px;
    border-style: solid;
    border-color: $button;
    background-color: $button;
	color: white;
	font-family:Arial;
	font-size:16px;
    padding:10px 46px;
    vertical-align: middle;
    width: 100%;
}
.error{
    margin-top: 0px;
    font-size: 15px;
    color: red;
}
#heading{
    color: #02529c;
}
.headSection{
    margin-bottom: 0px; 
    height: 50px;
    background-color: white;
    @include center();
}
.footSection{
    height: 50px;
    background-color: #02529c;
}
input{
    width: 400px;
    border: 1px solid #ABADB3;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    height: 30px;
    font-size:16px;
    padding-left: 5px;
}
input:focus {outline: none; }
h1{
    margin-top: 0px;
}
.mainSection{
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 600px;
    background-color: $background;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.14);
     @include center();
}
.form-group{
    display:block;
    width: 400px;
    height: 50px;
    margin: 0 auto;
    font-size: 20px;
    padding-bottom: 25px;
}
.text-center{
     @include center();
}


